name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '6,36 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest json
      run: |-
        curl https://polisen.se/api/events | jq . > events.json
    - name: Download latest html files
      run: |-
        bash download-html.sh
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
